.bg-underlay-project {
  left: 0;
  background-color: #8e9775;
}
.project-content h3 {
  font-size: 40px;
  color: #5b6d5b !important;
  font-family: "lato" sans-serif;
  text-transform: uppercase;
  margin: 2rem;
  text-align: center;
  margin-top: 10rem;
}
.project-list {
  display: flex;
  justify-content: space-around;
}

.card {
  position: relative;
  margin: 2rem;
  height: 20rem;
  width: 40vw;
  margin-top: 6rem;
  overflow: hidden;
}
.card-disable {
  margin: 2rem;
  height: 20rem;
  width: 40vw;
  border: 1px solid transparent;
  margin-top: 6rem;
}
.card img {
  cursor: pointer;
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 4px;
  background-color: #212121;
}
.card img:hover {
  transform: scale(1.05);
}
.card-disable p {
  font-family: roboto, sans-serif;
  line-height: 2;
  text-align: justify;
  font-size: 20px;
  color: var(--sec-text);
  text-transform: capitalize;
}
@media screen and (max-width: 500px) {
  .project-list {
    display: block;
  }
  .card-mini {
    font-family: roboto, sans-serif;
    line-height: 2;
    text-align: justify;
    font-size: 20px;
    color: var(--sec-text);
    text-transform: capitalize;
    padding: 1rem;
    z-index: 999;
  }

  .card-mini img {
    width: 100%;
    margin: 4rem 0rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 4px;
    height: 20rem;
    background-color: #212121;
    z-index: 999;
  }
}
