.bg-underlay-skillset {
  right: 0;
  background-color: #02475e;
}
.skillset-content h4 {
  z-index: 999;

  margin-bottom: 10rem;
  font-size: 30px;
  color: #687980 !important;
  font-family: "lato" sans-serif;

  text-align: center;
}

.icon {
  z-index: 999;
  display: flex;
  justify-content: center;
}
.icon-box {
  z-index: 999;
  height: 100px;
  width: 100px;
  margin: 0.5rem;
}

@media screen and (max-width: 500px) {
  .icon {
    z-index: 999;

    box-sizing: border-box;
  }

  .icon img {
    margin: 1rem;
    z-index: 999;
  }
  .skillset-content h4 {
    margin: 5rem 0rem;
    padding: 1rem;
    font-size: 28px;
    z-index: 999;
  }
}
