.nav-toggle {
  z-index: 99;
  position: absolute !important;
}
.icon-content {
  display: none;
}

@media screen and (max-width: 600px) {
  .icon-content {
    display: contents;
  }
  .icon-toggle {
    font-size: 30px !important;
    color: var(--sec-text);
    margin: 0.75rem !important;
  }
  .lottie {
    display: none;
  }
}
.dark .icon-toggle {
  color: yellow;
}
